
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Lora:wght@400;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* Color Scheme */

:root {
  --green: #82CD47;
  --red: #DF2E38;
  --blue: #1A374D;
  --light-blue: #B1D0E0;
}

/* General Styles */
html, body {
  height: 100%,
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Alegreya Sans";
  background-color: black;
  color: white;
  overflow-x: hidden;
}

/* Typography */

h1 {
  color: #fff;
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 700;
  /* text-align: left; */
  margin-bottom: .5rem;
}

p {
  font-size: 1.4rem;
  line-height: 1.4;
  padding-bottom: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.left {
  text-align: left;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

/* Image Styles */

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.thumbnail {
  width: 100px;
}

.circle {
  background-color: #fff;
  color: var(--blue);
  padding: 1rem;
  border-radius: 50%;
}

/* Layout Styles */

section {
  padding: 3rem 2rem;
}

.inner-container {
  max-width: 1200px;
  margin: 0 auto;
}

.light-section {
  background-color: #fff;
  color: #242424;
}

.dark-section {
  background-color: #242424;
  color: #fff;
}

.gradient-light {
  background: #fff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fff, #3a3a3a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fff, #3a3a3a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Spacing Styles */

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.5rem;
}

.pb-2 {
  padding-bottom: 1rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

/* Button Styles */

button {
  border: 0;
  offset: 0;
  cursor: pointer;
}

.btn {
  display: inline-block;
  background-color: #242424;
  color: #fff;
  outline: none;
  padding: 0.5rem 1rem;
  border: 1px solid #242424;
  border-radius: 4px;
  cursor: pointer;
  transition: .3s linear all;
  margin-bottom: 0.5rem;
}

.btn:hover, .btn.active-btn {
  background-color: #fff;
  color: #242424;
}

.btn-add {
  background-color: var(--green);
  border-color: var(--green);
  color: #fff;
}

.btn-add:hover {
  background-color: #fff;
  color: var(--green);
}

.btn-edit {
  border-color: #fff;
}

.btn-delete {
  border-color: var(--red);
}

.btn-delete:hover {
  background-color: var(--red);
  color: #fff;
}

/* Dashboard Styles */

.dashboard-home {
  display: flex;
}

.dashboard-home aside, .dashboard-home main {
  padding: 1.5rem;
}

.dashboard-home h2 {
  text-align: left;
}

.dashboard-home aside {
  background-color: var(--blue);
  color: #fff;
  width: 320px;
}

.dashboard-home main {
  flex: 1;
  background-color: #242424;
  color: #fff;
}

.dashboard-home .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.dashboard-home .row h2 {
  margin-bottom: 0;
}

/* Table Styles */

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

table > thead > tr > th {
  text-align: left;
  padding: 0.5rem 0.5rem;
  background-color: #efefef;
  color: var(--dark);
  color: #242424;
}

table > tbody > tr > td {
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid #efefef;
  white-space: nowrap;
}

/* Message Styles */

.notification {
  position: fixed;
  right: 15px;
  bottom: 30px;
  z-index: 77;
  background-color: var(--blue);
  color: #fff;
  padding: 1rem 3rem;
  border-radius: 4px;
}

.error {
  background-color: var(--red);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin-top: 1rem;
}

/* Navigation Styles */

nav {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 0;
  z-index: 11;
  width: 100%;
  padding-top: 1rem;
}

nav .logo-n-hamburger {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

nav .hamburger-icon {
  display: none;
}

nav .hamburger-icon button {
  background-color: var(--blue);
  display: block;
  position: relative;
  width: 50px;
  height: 40px;
  border-radius: 4px;
}

nav .hamburger-icon button:hover {
  background-color: #fff;
}

nav .hamburger-icon button:hover .line {
  background-color: var(--blue);
}

nav .hamburger-icon button .line {
  position: absolute;
  left: 50%;
  width: 35px;
  height: 2px;
  background-color: #fff;
  transform: translateX(-50%);
  transition: .3s linear width;
}

nav .hamburger-icon button .line-top {
  top: 6px;
}

nav .hamburger-icon button .line-middle {
  top: 50%;
  transform: translateX(-50%);
}

nav .hamburger-icon button .line-bottom {
  bottom: 6px;
}

/* Animate Hamburger Icon On Click */
.animate-hamburger .line:nth-child(2) {
  width: 25px;
}
.animate-hamburger .line:last-child {
  width: 15px;
}

nav ul {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #fff;
}

nav .nav-links {
  transition: all 0.5s ease-out;
}

nav ul li {
  margin-right: 4px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  display: block;
  padding: 2rem 1.5rem;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  border-bottom: 3px solid transparent;
}

nav ul li a:hover, 
.active {
  border-bottom-color: #fff;
}

/* Logo Styles */

.logo {
  font-size: 20px;
  letter-spacing: 10px;
  font-family: "Lora";
  font-weight: 700;
}

.logo-content {
  display: flex;
  justify-items: center;
}

.logo-img-container {
  margin-right: 1rem;
}

.logo img {
  width: 50px;
  height: 50px;
}

.logo a {
  color: #fff;
  text-decoration: none;
}

.logo span {
  font-size: 16px;
  text-transform: uppercase;
}

.logo a:hover {
  color: #979797;
}

/* Hero Styles */

.header-hero {
  position: relative;
  min-height: 85vh;
  background-image: url('../public/images/hero/hero_02.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-hero:after {
  content:'';
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.7);
}

.header-hero .intro-heading {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 80%;
  padding: 1rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  /* test */
  animation: slideIn 1s forwards;
}

@keyframes slideIn {
  0% {
      left: 0;
      opacity: 0;
  }
  100% {
      left: 50%;
      opacity: 1;
  }
}

/* Carousel Styles */

.carousel-content {
  display: flex;
  gap: 16px;
}

.carousel-description {
  color: #242424;
  flex: 1;
}

.carousel-description p {
  text-align: justify;
}

.carousel-description span {
  font-weight: 700;
}

.carousel-image {
  flex-basis: 50%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.carousel {
  width: 100%;
  height: 300px; /* Set the desired height for the carousel */
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: #242424;
  border-radius: 6px;
}

.carousel img {
  margin: 0 auto;
}


.carousel .next, .carousel .prev {
  color: white;
  background-color: red;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  opacity: 0.7;
  padding: 0.3rem;
  transition: all .3s linear;
}

.carousel .prev:hover, .carousel .next:hover {
  opacity: 1;
}

.carousel .prev {
  left: 0;
}

.carousel .next {
  right: 0;
}

/* Partners Logo Styles */

.partners-logos {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  background-color: white;
  padding: 1rem;
  border-radius: 6px;
}

.partners-logos div {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1rem;
  width: 100px;
  max-width: 100px; 
}

.partners-logos img {
  width: 100%;
  margin: auto;
  vertical-align: middle;
}

/* O nama Styles */
.about .images {
  display: flex;
}

.about .image {
  position: relative;
  padding: 1rem;
}

.about .image span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242424;
  color: #fff;
  padding: 0.5rem 1rem;
  border-bottom-right-radius: 6px;
}

/* Contact Styles */

.contact-info {
  display: flex;
  padding: 0 2.5rem;
  margin-bottom: 2rem;
}

.contact-info .city-info {
  flex: 1;
  padding: 1rem;
}

.contact-info .city-info:nth-child(1) {
  border-right: 1px solid #fff;
}

.contact-info .info {
  display: flex;
  margin-bottom: 1rem;
}

.contact-info .icon {
  padding: 0.5rem;
  margin-right: 1rem;
}

.contact-info .icon-info {
  padding-top: 10px;
}

.contact-info .info-title {
  font-weight: 700;
  padding-bottom: 0;
}

.contact-info .info-details {
  padding-bottom: 0;
}

.contact-info h2, .contact-info p {
  text-align: left;
}

.contact-info a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.working-time {
  margin-bottom: 2rem;
}

.working-time p {
  display: flex;
  justify-content: space-between;
  background-color: var(--blue);
  width: 50%;
  padding: 0.5rem 1rem;
  margin: 0 auto;
}

.working-time p:nth-of-type(2) {
  background-color: var(--light-blue);
  color: var(--blue);
}

/* Kontakt Form Styles */

.contact-form {
  width: 50%;
  margin: 0 auto;
}

.contact-form input, .contact-form textarea {
  border-radius: 4px;
  border: none;
  padding: 1rem 0.5rem;
  width: 100%;
  margin-bottom: 0.5rem;
}

.password-input-container {
  display: flex;
  gap: 10px;
}

.password-input-container button {
  flex: 1;
}

.contact-form button {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: var(--blue);
  border: 1px solid var(--blue);
  color: #fff;
  transition: 0.3s linear background-color;
}

.contact-form button:hover {
  background-color: #fff;
  color: var(--blue);
}

/* Asortiman And Izdvojeno Styles */

.cards-container {
  display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.card {
  flex-basis: calc(33.33% - 20px);
	/* height: 200px; */
	margin-bottom: 30px;
	text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
  border-radius: 6px;
}

.izdvojeno .card {
  background-color: #eeeeee;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.7);
}

.asortiman .card {
  height: 200px;
  opacity: 0;
  transform: translateY(50px);
  transition: 1s ease all;
}

.asortiman h3, .izdvojeno h3 {
  padding: 0.5rem 0;
  border-radius: 4px;
  width: 90%;;
  margin: 0 auto;
}

.izdvojeno .desc {
  position: relative;
}

.izdvojeno img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.izdvojeno h3 {
  background-color: #fff;
  color: #242424;
  position: absolute;
  top: -25px;
  left: -10%;
  padding-top: 0.2rem;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
}

.izdvojeno p {
  color: #4e4e4e;
  text-align: left;
  padding-top: 12px;
  padding-left: 6px;
  font-size: 1rem;
}

.asortiman .card img {
  opacity: 0.7;
  transition: 0.3s linear all;
}

.asortiman .card img:hover {
  opacity: 1;
  transform: scale(1.03);
}

.asortiman h3 {
  background-color: #242424;
  color: #fff;
}

.asortiman img, .izdvojeno img {
    max-width: auto;
    height: 90%;
}

/* Show Single Asortiman Page */

.asortiman-intro {
  display: flex;
}

.asortiman-intro li {
  margin-bottom: 0.5rem;
}

.asortiman-content, .asortiman-image {
  flex: 1;
  padding: 1rem;
}

.asortiman-image img {
  width: 100%;
}

/* Footer Styles */

footer p {
  font-size: 1rem;
  line-height: 1;
}

/* @media Styles */

/* medium screens */
@media only screen and (max-width: 992px) {
  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .working-time p {
    width: 80%;
  }
  
  .contact-form {
    width: 80%;
  }
}

/* small screens */
@media only screen and (max-width: 768px) {
  .header-hero .intro-heading {
    width: 90%;
  }

  h1 {
    font-size: 2.5rem;
  }
  
  .card {
    flex-basis: calc(50% - 20px);
  }
  
}

/* extra small screens */
@media only screen and (max-width: 600px) {

  h2 {
    font-size: 1.8rem;
  }

  nav .hamburger-icon {
    display: block;
  }

  nav .nav-links {
      position: fixed;
      top: 70px;
      right: 0;
      width: 0;
      height: 90vh;
      background-color: black;
      z-index: 100;
      overflow: hidden;
    }

  nav div.show-menu {
    width: 100%;
  }

  nav ul {
    flex-direction: column;
    padding: 0;
    border-bottom: 0px solid #fff;
  }

  nav ul li a {
    display: inline-block;
  }

  .header-hero .intro-heading {
    width: 95%;
  }

  h1 {
    font-size: 2rem;
  }

  .carousel-content {
    flex-direction: column;
  }

  .products-container div {
    flex: 0 0 48%;
  }

  .partners-logos div {
    margin-right: 8px;
    width: 70px;
    max-width: 70px; 
  }

  .about .images {
    flex-direction: column;
  }

  .contact-info {
    flex-direction: column;
  }

  .contact-info .city-info:nth-child(1) {
    border-right: none;
    border-bottom: 1px solid #fff;
  }

  .working-time p {
    width: 95%;
  }
  
  .contact-form {
    width: 95%;
  }

  .card {
    flex-basis: calc(100% - 20px);
  }

}
