
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Lora:wght@400;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Alegreya Sans";
  background-color: black;
  color: white;
  overflow-x: hidden;
}

h1 {
  color: #fff;
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}

button {
  border: 0;
  offset: 0;
  cursor: pointer;
}

section {
  padding: 3rem 0;
}

.inner-container {
  max-width: 1200px;
  margin: 0 auto;
}

.light-section {
  background-color: #fff;
  color: #242424;
}

.dark-section {
  background-color: #242424;
  color: #fff;
}

/* NAVIGATION SECTION */
nav {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 0;
  z-index: 11;
  width: 100%;
  padding-top: 1rem;
}

nav .logo-n-hamburger {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

nav .hamburger-icon {
  display: none;
}

nav .hamburger-icon button {
  background-color: blue;
  display: block;
  position: relative;
  width: 50px;
  height: 40px;
  border-radius: 4px;
}

nav .hamburger-icon button .line {
  position: absolute;
  left: 50%;
  width: 35px;
  height: 2px;
  background-color: white;
  transform: translateX(-50%);
  transition: .3s linear width;
}

nav .hamburger-icon button .line-top {
  top: 6px;
}

nav .hamburger-icon button .line-middle {
  top: 50%;
  transform: translateX(-50%);
}

nav .hamburger-icon button .line-bottom {
  bottom: 6px;
}

/* animate hamburger icon on click */
.animate-hamburger .line:nth-child(2) {
  width: 32px;
}
.animate-hamburger .line:last-child {
  width: 29px;
}

nav ul {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #fff;
}

nav .nav-links {
  transition: all 0.5s ease-out;
}

nav div.show-menu {
  left: 0;
}

nav ul li {
  margin-right: 4px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  display: block;
  padding: 2rem 1.5rem;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  border-bottom: 3px solid transparent;
}

nav ul li a:hover, 
.active {
  border-bottom-color: #fff;
}

.logo {
  font-size: 20px;
  letter-spacing: 10px;
  font-family: "Lora";
  font-weight: 700;
}

.logo a {
  color: #fff;
  text-decoration: none;
}

.logo span {
  font-size: 16px;
  text-transform: uppercase;
}

.logo a:hover {
  color: #979797;
}

/* HERO SECTION */
.header-hero {
  position: relative;
  background-color: red;
  min-height: 100vh;
  background-image: url('./assets/fero_01.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-hero:after {
  content:'';
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.7);
}

.header-hero .intro-heading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 80%;
  padding: 1rem;
  text-align: center;
}

/* PARTNERS LOGOS SECTION */
.partners-logos {
  display: flex;
  flex-wrap: wrap;
}

.partners-logos div {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 16px;
  width: 100px;
  max-width: 100px; 
}

.partners-logos img {
  width: 100%;
  margin: auto;
  vertical-align: middle;
}

/* @MEDIA QUERY */

@media only screen and (max-width: 600px) {
  nav .hamburger-icon {
    display: block;
  }

  nav .nav-links {
      /* padding: 0 20rem; */
      position: fixed;
      top: 70px;
      left: 100%;
      width: 100%;
      height: 90vh;
      background-color: black;
      z-index: 100;
      border: 1px solid red;
    }

    nav ul {
      flex-direction: column;
      padding: 0;
      border-bottom: 0px solid #fff;
    }

    nav ul li a {
      display: inline-block;
    }

}
